Test/Test/bin/

Test/.vs/Test/v14/.suo
/Test/Test/obj
/Test/Test/bin
/kekssprites.zip
/kekssprites/alles.png
/kekssprites/hüpfenlinks.png
/kekssprites/hüpfenrechts.png
/kekssprites/idle.png
/kekssprites/laufenlinks.png
/kekssprites/laufenrechts.png
/kekssprites/rennenundbremsenlinks.png
/kekssprites/rennenundbremsenrechts.png
/kekssprites/tot.png
/kekssprites/ziel.png
